.cartMain {
  padding: 2rem 1rem;
  padding-top: 1rem;
  margin-bottom: 3rem;
}

.cartMain h1 {
  text-align: center;
  font-weight: 600;
  font-size: 1.7rem;
  color: #2a419b;
}

.cartMain h2 {
  text-align: center;
  font-weight: 500;
  font-size: 1.5rem;
  border-bottom: 2px solid rgba(42, 65, 155, 0.16);
  border-top: 2px solid rgba(42, 65, 155, 0.16);
  padding: 2rem 0;
}

.cartList {
  list-style: none;
  padding: 2rem 0;
}

.cartList li {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  border-bottom: 1px solid rgba(42, 65, 155, 0.16);
  padding: 1rem 0;
}

.cartMain img {
  width: 130px;
  height: 130px;
  object-fit: cover;
}

.itemTitle {
  margin: 0;
  color: #2a419b;
  font-weight: 500;
}

.btnsContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.quantityBtn {
  border: none;
  background-color: #2a419b;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.quantityBtn,
.clearCartBtn {
  cursor: pointer;
  transition: transform 0.2s ease-in-out !important;
}

.quantityBtn:hover,
.clearCartBtn:hover {
  transform: scale(1.1) !important;
}

.removeBtn {
  font-size: 0.8rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.removeBtn:hover {
  color: #2a419b;
}

.itemPrice {
  text-align: center;
}

.removeBtn,
.clearCartBtn {
  display: flex;
  gap: 0.2rem;
  border-radius: 10px;
}

.clearCartBtn {
  margin: auto;
  color: white;
  background-color: rgb(248, 71, 71);
  font-size: 0.9rem;
  padding: 0.5rem 0.7rem;
  border: none;
  margin-bottom: 3rem;
}

.bottomBtns {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.8rem;
  margin-top: 3rem;
}

.continueBtn,
.checkoutBtn {
  width: 200px;
  height: 45px;
  cursor: pointer;
}

.continueBtn {
  font-size: 0.9rem;
  border: 2px solid rgba(42, 65, 155, 0.71);
  color: #2a419b;
}

.continueBtn:hover {
  border: 2px solid #2a419b;
}

.checkoutBtn {
  font-size: 1.1rem;
  background-color: #2a419b;
  color: white;
  border: 2px solid #2a419b;
  transition: transform 0.3s ease-in-out !important;
}

.checkoutBtn:hover {
  transform: scale(1.05) !important;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.emptyCart {
  font-size: 1.1rem;
  margin-top: 6rem;
}

.emptyCart,
.emptyLink {
  text-align: center;
}

.emptyLink {
  color: #2a419b;
  font-weight: 600;
  text-underline-offset: 3px;
}

.emptyLink:hover {
  color: white;
}

@media (min-width: 768px) {
  .cartMain {
    max-width: 800px;
    margin: auto;
  }

  .cartList li {
    flex-direction: row;
    gap: 2rem;
  }

  .bottomBtns {
    flex-direction: row;
    justify-content: center;
    margin-bottom: 3rem;
  }

  .itemPrice {
    text-align: left;
    margin-left: auto;
  }
}
