.searchBarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBar {
  border: 2px solid #2a419b;
  border-radius: 0 5px 5px 0;
  width: 200px;
  padding: 7px;
}

.iconContainer {
  background-color: #2a419b;
  border-radius: 5px 0 0 5px;
  padding: 4.3px 6px;
}

.searchIcon {
  color: #989aff;
}

.searchClear {
  background-color: transparent;
  border: none;
  padding-right: 0;
}

.searchClear:hover {
  cursor: pointer;
}

.suggestionsContainer {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 5px 0;
  width: 270px;
}

.suggestion {
  list-style: none;
  padding: 4px 0;
  font-size: 0.9rem;
  border-bottom: 1px solid rgba(67, 146, 255, 0.16);
}

.suggestion:hover {
  background-color: rgba(67, 146, 255, 0.16);
  cursor: pointer;
}
